.container{
  text-align: center;
  height: 100% !important;
}
.jumbotron{
  background-color: white !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 190px;
  /*margin-top: px;*/
}
.title{
  margin-top: -50px;
  font-size: 30px;
}
.load-text{
  margin-top:-20px;
  margin-bottom: 50px;
}
.loading{
  height: 400px;
  width: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card{
  margin-bottom: 20px;
}